---
import Breadcrumb from "@components/Breadcrumb.astro";
import Layout from "src/layouts/Layout.astro";
import ContactForm from "@components/ContactForm";
---

<Layout>
  <Breadcrumb
    imagePath="/src/images/breadcrumb/bg-contactanos.png"
    title="Contáctenos"
  />
  <section class="bg-white p-8 max-w-7xl mx-auto">
    <div class="p-8 bg-gray-50 rounded-md mb-8">
      <div class="text-center space-y-2 mb-8">
        <h2 class="text-zinc-900 text-3xl font-medium text-center">
          Ponte en contacto con nosotros
        </h2>
        <p class="text-zinc-700 font-light">
          Su dirección de correo electrónica no será publicada
        </p>
        <p class="text-xs text-primary-500">
          Los campos obligatorios están marcados*
        </p>
      </div>
      <ContactForm client:load />
    </div>
  </section>
</Layout>
