---
import AvailabilityForm from "@components/AvailabilityForm";
import MainSlider from "@components/MainSlider.astro";
import Layout from "src/layouts/Layout.astro";
import Destinations from "@components/Destinations.astro";
import TourCards from "@components/TourCards.astro";
import CallToAction from "@components/CallToAction.astro";
import { Image } from "astro:assets";
import CardImage from "@images/slide/4.png";
import WhatsappButton from "@components/WhatsappButton.astro";
---

<Layout>
  <MainSlider />
  <AvailabilityForm client:visible />
  <Destinations />
  <TourCards />
  <section class="bg-gray-50">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 max-w-7xl px-6 py-24 mx-auto justify-center items-start gap-8"
    >
      <Image
        src={CardImage}
        alt="Imagen de Iquitos"
        class="w-full h-full max-w-2xl object-cover order-2 lg:order-1"
      />
      <div class="order-1 lg:order-2 space-y-6 lg:pb-16 pb-0">
        <p class="uppercase text-gray-500 font-medium">Explore</p>
        <h3 class="text-gray-900 font-bold text-2xl lg:text-3xl">
          Exclusive Vacation Packages And Travel Services For You
        </h3>
        <p class="text-zinc-500 text-justify text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, maiores
          blanditiis cupiditate rem amet aliquid tempora est repellat
          accusantium totam? Deleniti non voluptate doloribus iste ipsum culpa
          aut eius nostrum?
        </p>
        <WhatsappButton padding="px-6 py-3" textSize="text-sm" />
      </div>
    </div>
  </section>
  <CallToAction />
</Layout>
