---
import Breadcrumb from "@components/Breadcrumb.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <Breadcrumb title="Nosotros" subtitle="Nosotros" />
  <section>
    <div class="max-w-7xl mx-auto px-4 py-24 grid grid-cols-1 md:grid-cols-2">
      <div class="flex items-center justify-center h-full w-full gap-8">
        <h4 class="text-4xl font-bold">Acerca de <br /> Iquitos Expedition</h4>
      </div>
      <div class="space-y-4 text-justify">
        <p>
          Es una agencia de viajes, conformada por un equipo de colaboradores
          certificados y capacitados para ofrecerte los mejores paquetes
          turísticos personalizados que cumplan todas sus expectativas.
        </p>
        <p>
          Nuestro principal objetivo es brindarle una experiencia de viaje
          diferente e inolvidable, con el compromiso de encargarnos de toda la
          planificación y ejecución de su viaje, así usted solo se preocupe en
          disfrutar sus vacaciones.
        </p>

        <p>
          Llevamos más de 5 años trabajando al servicio de nuestros pasajeros;
          viajeros que vienen a Iquitos Perú a envolverse de su magia, cultura
          viva, su geografía y gastronomía. Contamos con los Mejores Paquetes
          Turísticos en los Mejores Lodge en medio la Selva, y Hoteles en el
          Centro de la ciudad, Para que su viaje sea único e inolvidable,
          contamos con los permisos requeridos, que garanticen el éxito de sus
          próximas vacaciones a la Amazonia Peruana.
        </p>
      </div>
    </div>
  </section>
</Layout>
