---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
type Props = CollectionEntry<"dailyTours">["data"];
const { heroImage, title } = Astro.props;
---

<article>
  <Image
    src={heroImage}
    alt={title}
    class="w-full h-96 rounded-t-xl object-cover"
    loading="eager"
  />
  <div class="w-full">
    <div class="flex flex-col px-4 py-6">
      <slot />
    </div>
  </div>
</article>
