---
import { Image } from "astro:assets";
import ActionImage from "@images/slide/1.png";
import { Icon } from "astro-icon/components";
import WhatsappButton from "./WhatsappButton.astro";
---

<section class="h-[40rem] relative flex justify-center items-center">
  <Image
    src={ActionImage}
    alt=""
    class:list={["object-cover w-full h-full"]}
    loading="eager"
  />
  <div class="absolute inset-0 bg-black opacity-50 mix-blend-multiply"></div>
  <div
    class="flex flex-wrap justify-center items-center uppercase absolute max-w-3xl text-center px-4 space-y-24"
  >
    <h5 class="font-bold text-white text-5xl md:text-7xl">
      Los mejores tours de la Amazonía
    </h5>
    <WhatsappButton />
  </div>
</section>
