---
import { Image } from "astro:assets";
import ActionImage from "@images/CallToAction.png";
import WhatsappButton from "./WhatsappButton.astro";
---

<section class="h-[40rem] relative flex justify-center items-center">
  <Image
    src={ActionImage}
    alt="Tours en Iquitos, Perú - Amazonía Peruana"
    class:list={["object-cover w-full h-full"]}
    loading="eager"
  />
  <div class="absolute inset-0 bg-black opacity-50 mix-blend-multiply"></div>
  <div
    class="flex flex-wrap justify-center items-center uppercase absolute max-w-3xl text-center px-4 space-y-16"
  >
    <h3 class="font-bold text-white text-5xl">
      Los mejores tours de la Amazonía
    </h3>
    <WhatsappButton />
  </div>
</section>
