---
import DestinationItem from "@components/DestinationItem.astro";
---

<section
  class="relative grid grid-cols-1 lg:grid-cols-2 my-12 h-full lg:h-[80vh]"
>
  <DestinationItem
    altText="RESERVA NACIONAL PACAYA SAMIRIA"
    containerTextClass="bottom-8 lg:bottom-0 left-4 lg:top-1/2"
    title="RESERVA NACIONAL PACAYA SAMIRIA"
    titleClass="text-lg lg:text-2xl"
    imagePath="/src/images/card/RESERVA NACIONAL PACAYA SAMIRIA.jpg"
  >
    <p class="text-sm lg:text-base text-white pt-4">
      Ven y vive las mejores experiencias de tus Vacaciones en la Amazonia
      Peruana.
    </p>
  </DestinationItem>
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <DestinationItem
      altText="HELICONIA AMAZON RIVER LODGE"
      imagePath="/src/images/card/HELICONIA AMAZON RIVER LODGE.jpg"
      imgClass="object-right"
      title="HELICONIA AMAZON RIVER LODGE"
    />
    <DestinationItem
      altText="CUMACEBA LODGE"
      imagePath="/src/images/card/CUMACEBA LODGE.jpg"
      title="CUMACEBA LODGE"
    />
    <DestinationItem
      altText="IRAPAY AMAZON LODGE"
      imagePath="/src/images/card/IRAPAY AMAZON LODGE.jpg"
      title="IRAPAY AMAZON LODGE"
    />
    <DestinationItem
      altText="TOURS DIARIOS"
      imagePath="/src/images/card/TOURS DIARIOS.jpg"
      title="TOURS DIARIOS"
    />
  </div>
  <div class="absolute inset-0 bg-primary-500 opacity-70 mix-blend-multiply">
  </div>
</section>
