---
import DestinationItem from "@components/DestinationItem.astro";
---

<section
  class="relative grid grid-cols-1 lg:grid-cols-2 my-12 h-full lg:h-[80vh]"
>
  <DestinationItem
    altText="pacaya sarima"
    containerTextClass="bottom-8 lg:bottom-0 left-4 lg:top-1/2"
    titleClass="text-lg lg:text-2xl"
    imagePath="/src/images/slide/1.png"
  />
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <DestinationItem
      altText="pacaya sarima"
      imagePath="/src/images/slide/2.png"
      imgClass="object-right"
    />
    <DestinationItem
      altText="pacaya sarima"
      imagePath="/src/images/slide/3.png"
    />
    <DestinationItem
      altText="pacaya sarima"
      imagePath="/src/images/slide/4.png"
    />
    <DestinationItem
      altText="pacaya sarima"
      imagePath="/src/images/slide/5.png"
    />
  </div>
  <div class="absolute inset-0 bg-primary-500 opacity-70 mix-blend-multiply">
  </div>
</section>
