---
import DestinationItem from "@components/DestinationItem.astro";
---

<section
  class="relative grid grid-cols-1 lg:grid-cols-2 my-12 h-full lg:h-[80vh]"
>
  <DestinationItem
    altText="RESERVA NACIONAL PACAYA SAMIRIA"
    title="RESERVA NACIONAL PACAYA SAMIRIA"
    titleClass="text-xl lg:text-2xl"
    imagePath="/src/images/card/RESERVA NACIONAL PACAYA SAMIRIA.jpg"
    description="Ven y vive las mejores experiencias de tus Vacaciones en la Amazonia Peruana."
    href="/tours-pacaya-samiria"
    isMain
  />
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <DestinationItem
      altText="HELICONIA AMAZON RIVER LODGE"
      imagePath="/src/images/card/HELICONIA AMAZON RIVER LODGE.jpg"
      imgClass="object-right"
      title="HELICONIA AMAZON RIVER LODGE"
      description="Ven y vive las mejores experiencias de tus Vacaciones en la Amazonia Peruana."
      href="/tours-heliconia-lodge"
    />
    <DestinationItem
      altText="CUMACEBA LODGE"
      imagePath="/src/images/card/CUMACEBA LODGE.jpg"
      title="CUMACEBA LODGE"
      description="Ven y vive las mejores experiencias de tus Vacaciones en la Amazonia Peruana."
      href="/tours-cumaceba-lodge"
    />
    <DestinationItem
      altText="IRAPAY AMAZON LODGE"
      imagePath="/src/images/card/IRAPAY AMAZON LODGE.jpg"
      title="IRAPAY AMAZON LODGE"
      description="Ven y vive las mejores experiencias de tus Vacaciones en la Amazonia Peruana."
      href="/tours-irapay-amazon"
    />
    <DestinationItem
      altText="TOURS DIARIOS"
      imagePath="/src/images/card/TOURS DIARIOS.jpg"
      title="TOURS DIARIOS"
      description="Ven y vive las mejores experiencias de tus Vacaciones en la Amazonia Peruana."
      href="/tours-diarios"
    />
  </div>
  <div class="absolute inset-0 bg-primary-500 opacity-70 mix-blend-multiply">
  </div>
</section>
