---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import WhatsappButton from "./WhatsappButton.astro";

interface Props {
  imagePath: string;
  title: string;
}
const { imagePath, title } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/slide/*.png"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/images/slide/*.{png}"`
  );
---

<swiper-slide class="relative flex justify-center items-center">
  <Image
    src={images[imagePath]()}
    alt=""
    class:list={["object-cover w-full h-full"]}
    loading="eager"
  />
  <div class="absolute inset-0 bg-black opacity-50 mix-blend-multiply"></div>
  <div
    class="flex flex-wrap justify-center items-center absolute max-w-2xl text-center px-4"
  >
    <h5 class="uppercase font-bold text-white text-5xl md:text-7xl">
      {title}
    </h5>
    <p class="text-white font-medium text-lg my-12">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptates
      sit, vel repellendus dolor dolore eius odio qui facilis et nemo? Ipsum
      obcaecati ad ex illo consequatur tenetur qui voluptas!
    </p>
    <WhatsappButton />
  </div>
</swiper-slide>
