---
import { tourCardItems } from "src/constans";
import TourCardItem from "./TourCardItem.astro";
---

<section class="bg-white my-12">
  <div class="max-w-7xl mx-auto px-4">
    <div class="mb-8">
      <h3 class="text-2xl font-bold text-gray-900">
        Top Travelling Destinations
      </h3>
      <p class="text-gray-700 font-normal">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid quam
        neque atque placeat reprehenderit nobis explicabo fuga veritatis aut,
        dolores, sed porro temporibus! Nemo quis, dolorum suscipit ea ex in?
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {tourCardItems.map((item) => <TourCardItem {...item} />)}
    </div>
  </div>
</section>
