---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import "@styles/global.css";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title="Amazon Trips" description="Cool amazon trips" />
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
