---
import Breadcrumb from "@components/Breadcrumb.astro";
import Layout from "src/layouts/Layout.astro";

interface Props {
  imageBreadcrumb: string;
  sectionName: string;
}

const { sectionName, imageBreadcrumb } = Astro.props;
---

<Layout>
  <Breadcrumb
    imagePath=`/src/images/breadcrumb/${imageBreadcrumb}.png`
    title={sectionName}
  />
  <section class="bg-white my-12">
    <div class="max-w-7xl mx-auto px-6 space-y-6">
      <slot />
    </div>
  </section>
</Layout>
