---
import Breadcrumb from "@components/Breadcrumb.astro";
import Layout from "src/layouts/Layout.astro";

interface Props {
  sectionName: string;
}

const { sectionName } = Astro.props;
---

<Layout>
  <Breadcrumb title={sectionName} />
  <section class="bg-white my-12">
    <div class="max-w-7xl mx-auto px-6 space-y-6">
      <slot />
    </div>
  </section>
</Layout>
